.App {
  text-align: center;
}

/* Reset de estilos padrão do navegador */
body, h1, form, label, input, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 60%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

#result {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #007BFF;
}

